<fieldset>
	<form class="form-horizontal" role="form" >
		<div class="form-group">
			<%= f.label t('cedula', :default => 'cedula').humanize, class: "col-sm-2 control-label" %>
			<div class="col-sm-10">        
				<%= f.text_field :cedula, class: "form-control" %>       
			</div>
		</div>
		
		<div class="form-group">
			<%= f.label t('primer_nombre', :default => 'primer_nombre').humanize, class: "col-sm-2 control-label" %>
			<div class="col-sm-10">
				<%= f.text_field :primer_nombre, class: "form-control" %>    
			</div>
		</div>
		
		<div class="form-group">
			<%= f.label t('segundo_nombre', :default => 'segundo_nombre').humanize, class: "col-sm-2 control-label" %>
			<div class="col-sm-10">
				<%= f.text_field :segundo_nombre, class: "form-control" %>    
			</div>
		</div>
		
		<div class="form-group">
			<%= f.label t('primer_apellido', :default => 'primer_apellido').humanize, class: "col-sm-2 control-label" %>
			<div class="col-sm-10">
				<%= f.text_field :primer_apellido, class: "form-control" %>    
			</div>
		</div>
		
		<div class="form-group">
			<%= f.label t('segundo_apellido', :default => 'segundo_apellido').humanize, class: "col-sm-2 control-label" %>
			<div class="col-sm-10">
				<%= f.text_field :segundo_apellido, class: "form-control" %>    
			</div>
		</div>
		
		<div class="form-group">
			<%= f.label t('apellido_casada', :default => 'apellido_casada').humanize, class: "col-sm-2 control-label" %>
			<div class="col-sm-10">
				<%= f.text_field :apellido_casada, class: "form-control" %>  
			</div>
		</div>
		
		<div class="form-group">
			<%= f.label t('fecha_nacimiento', :default => 'fecha_nacimiento').humanize, class: "col-sm-2 control-label" %>
			<div class="col-sm-10">
				<div class="input-group ">
					<%= f.text_field :fecha_nacimiento, :class => 'datepicker form-control', :placeholder => "  Fecha de nacimiento"    %>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<%= f.label t('sexo', :default => 'sexo').humanize, class: "col-sm-2 control-label" %>
			<div class="col-sm-10">
				<%= f.select :sexo, options_for_select(['Masculino','Femenino']), {}, {class: "form-control"} %>  
			</div>
		</div>

		<div class="form-group">
			<%= f.label t('seguro_social', :default => 'seguro_social').humanize, class: "col-sm-2 control-label" %>
			<div class="col-sm-10">
				<%= f.text_field :seguro_social, class: "form-control" %>    
			</div>
		</div>
		
		<div class="form-group">
			<%= f.label t('direccion', :default => 'direccion').humanize, class: "col-sm-2 control-label" %>
			<div class="col-sm-10">
				<%= f.text_area :direccion, class: "form-control" %>    
			</div>
		</div>
		
		<div class="form-group">
			<%= f.label t('telefono', :default => 'telefono').humanize, class: "col-sm-2 control-label" %>
			<div class="col-sm-10">
				<%= f.text_field :telefono, class: "form-control" %>    
			</div>
		</div>
		
		<div class="form-group">
			<%= f.label t('contacto_emergencia', :default => 'contacto_emergencia').humanize, class: "col-sm-2 control-label" %>
			<div class="col-sm-10">
				<%= f.text_field :contacto_emergencia, class: "form-control" %>    
			</div>
		</div>
		
		<div class="form-group">
			<%= f.label t('telefono_emergencia', :default => 'telefono_emergencia').humanize, class: "col-sm-2 control-label" %>
			<div class="col-sm-10">
				<%= f.text_field :telefono_emergencia, class: "form-control" %>    
			</div>
		</div>

		
	</form>
</fieldset>


<script>
	$('.datepicker').datepicker({format: 'yyyy-mm-dd'});
</script>