<div class="page-header">
  <%= link_to doctores_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t('back')%>
  <% end %>
  <h1><%= t('new')%> <%= t('doctor', :default => 'doctor').humanize %></h1>
</div>

<%= render 'form' %>
