<div class="page-header">
  <%= link_to caja_imports_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t('back')%>
  <% end %>
  <h1><%= t('new')%> <%= t('caja_import', :default => 'caja_import').humanize %></h1>
</div>

<%= form_for @caja_import do |f| %>
<% if @caja_import.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@caja_import.errors.count, "error") %> prohibited this import from completing:</h2>
	<ul>
		<% @caja_import.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>

<p>A CSV or Excel file can be used to import records. The first row should be the column name. The following columns are allowed.</p>

<ul>
	<li><strong> id - </strong>Integer type</li>
	<li><strong> cedula - </strong>String type</li>
	<li><strong> primer_nombre - </strong>String type</li>
	<li><strong> segundo_nombre - </strong>String type</li>
	<li><strong> primer_apellido - </strong>String type</li>
	<li><strong> segundo_apellido - </strong>String type</li>
	<li><strong> apellido_casada - </strong>String type</li>
	<li><strong> fecha_nacimiento - </strong>Date type</li>
	<li><strong> sexo - </strong>String type</li>
	<li><strong> seguro_social - </strong>String type</li>
	<li><strong> direccion - </strong>Text type</li>
	<li><strong> telefono - </strong>String type</li>
	<li><strong> contacto_emergencia - </strong>String type</li>
	<li><strong> telefono_emergencia - </strong>String type</li>
</ul>

<br>
<div class="form-group">
	<%= f.label :archivo, :class => "col-sm-1 control-label" %>
	<div class="col-sm-4">
		<%= f.file_field :file, {class: "filestyle"} %>
	</div>
</div>
<br>
<br>
<br>
<br>
<%= f.submit :class => "btn btn-primary" %>
<% end %>

